* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
*:focus {
  outline: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00798c;
}
.container {
  background: transparent;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* box-shadow: 15px 15px 45px 20px rgba(75, 74, 74, 0.192); */
  opacity: 1;
}
table {
  border-collapse: separate;
  border-spacing: 25px;
}
td {
  border: 1px solid #FCA417;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 5px;
}
.clock {
  background: #FCA417;
  transition: 1s ease-in-out;
}
.disabled {
  border: none;
}
#seconds {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 5px;
}
.sekundnik {
  background-color: none;
}
.off {
  /* border: 1px solid #FCA417; */
  background-color: rgba(255, 68, 0, 0.877);
  background-color: #fca417b6;
  /* background-color: transparent; */
  transition: 0.2s ease-in-out;
}
